<!DOCTYPE html>
<html>
    <head>
        <!-- Add CSS style sheets-->
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/home.css')}}">
        <title>
            Flask html test
        </title>
        <!-- Add javascript code -->
        <script type="text/javascript" src="{{url_for('static', filename='js/api.js')}}">
        </script>
    </head>
    <body>
        <button onclick="whitedark()">Toggle dark mode</button>
        <header>
          <div class="container">
            <h1 class="logo">API Demo</h1>
            <strong><nav>
              <ul class="menu">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('crawler')}}">Web Crawler</a></li>
                <li><a href="{{url_for('puzzle')}}">Mini Puzzles</a></li>
                <li><a href="{{url_for('ml')}}">Machine Learning</a></li>
              </ul>
            </nav></strong>
          </div>
        </header>
        <br>
        <form method="POST">
            <h3>
                 Please insert weather search parameters here
            </h3>
            <!-- Table codes -->
            <table>
                <tr>
                    <td>API Key: </td>
                    <td><input type="text" name="key0" id="key0" placeholder="" onclick="keyf();"/></td>
                    <td><span id="key1">Key: </span></td>
                </tr>
                <tr>
                    <td>Country Code: </td>
                    <td><input type="text" name="where0" id="where0" value="TW" onclick="wheref();"/></td>
                    <td><span id="where1">Code: </span></td>
                </tr>
                <tr>
                    <td>Start date: </td>
                    <td><input type="text" name="start0" value="2020-10-01" onblur="sday();"/></td>
                    <td><span id="start1"></span></td>
                </tr>
                <tr>
                    <td>End date: </td>
                    <td><input type="text" name="end0" value="2020-10-31" onblur="eday();"/></td>
                    <td><span id="end1"></span></td>
                </tr>
                <tr>
                    <td>Type: </td>
                    <select name='plt0' id="plt0" onclick="itype();">
                        <option value="min">Minimum Temperatures</option>
                        <option value="max">Maximum Temperatures</option>
                        <option value="avg">Average Temperatures</option>
                    </select>
                    <td><span id="plt1">Selection: Minimum Temperatures</span></td>
                </tr>
                <tr>
                    <td></td>
                    <!-- button -->
                    <td colspan="2"><input type="submit" value="Start Search"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>