<!DOCTYPE html>
<html>
    <head>
        <!-- Add CSS style sheets-->
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/home.css')}}">
        <title>
            Flask html test
        </title>
        <!-- Add javascript code -->
        <script type="text/javascript" src="{{url_for('static', filename='js/api.js')}}">
        </script>
    </head>
    <body>
        <button onclick="whitedark()">Toggle dark mode</button>
        <header>
          <div class="container">
            <h1 class="logo">API Demo</h1>
            <strong><nav>
              <ul class="menu">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('crawler')}}">Web Crawler</a></li>
                <li><a href="{{url_for('puzzle')}}">Mini Puzzles</a></li>
                <li><a href="{{url_for('ml')}}">Machine Learning</a></li>
              </ul>
            </nav></strong>
          </div>
        </header>
        <br>
        <form method="POST">
            <h3>
                 Please insert weather search parameters here
            </h3>
            <p>If you do not have an API key, please visit
                <a href='https://dev.meteostat.net/api/#api-key'>meteostat</a> to get one (It's free)</p>
            <p>This program only allows for a maximum query of 60 days! If the date range given is larger, it will default to 60 days.</p>
            <br>
            <!-- Table codes -->
            <table>
                <tr>
                    <td><span>API Key: </span></td>
                    <td><input type="text" name="key0" id="key0" placeholder="" onload="keyf();" oninput="keyf();" onclick="keyf();"/></td>
                    <td><span id="key1" style="color:red;">Key: </span></td>
                </tr>
                <tr>
                    <td><span>Country Code: (e.g. CA, JP, TW)</span></td>
                    <td><input type="text" name="where0" id="where0" value="TW" onload="wheref();" oninput="wheref();" onclick="wheref();"/></td>
                    <td><span id="where1" style="color:green;">Valid Input</span></td>
                </tr>
                <tr>
                    <td><span>Start date: </span></td>
                    <td><input type="text" name="start0" id="start0" value="2020-10-01" onload="sday();" oninput="sday();" onclick="sday();"/></td>
                    <td><span id="start1" style="color:green;">Valid Input</span></td>
                </tr>
                <tr>
                    <td><span>End date: </span></td>
                    <td><input type="text" name="end0" id="end0" value="2020-10-31" onload="eday();" oninput="eday();" onclick="eday();"/></td>
                    <td><span id="end1" style="color:green;">Valid Input</span></td>
                </tr>
                <tr>
                    <td><span>Type: </span></td>
                    <td><select name='plt0' id="plt0" onchange="itype();">
                        <option value="min">Minimum Temperatures</option>
                        <option value="max">Maximum Temperatures</option>
                        <option value="avg">Average Temperatures</option>
                    </select></td>
                    <td><span id="plt1">Selection: min temperatures</span></td>
                </tr>
                <tr>
                    <td></td>
                    <!-- button -->
                    <td colspan="2">
                        <br>
                        <input type="submit" value="Start Search" onclick="return query0();"/>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <img src="{{image0}}" id="image1" alt="Daily weather">
        <br>
        <button onclick="vanish();">See Sample Plot</button>
        <br>
        <img src="{{url_for('static', filename='images/ch_tw_temp.png')}}" id="image2" alt="Daily weather">
        <br>
    </body>
</html>