<!DOCTYPE html>
<html>
    <head>
        <!-- Add CSS style sheets-->
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/home.css')}}">
        <title>
            CH ML Demo
        </title>
        <!-- Add javascript code -->
        <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}">
        </script>
    </head>
    <body>
        <button onclick="whitedark()">Toggle dark mode</button>
        <header>
          <div class="container">
            <h1 class="logo">Machine Learning Demo</h1>
            <strong><nav>
              <ul class="menu">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('api')}}">API</a></li>
                <li><a href="{{url_for('crawler')}}">Web Crawler</a></li>
                <li><a href="{{url_for('d3viz')}}">D3.js</a></li>
              </ul>
            </nav></strong>
          </div>
        </header>
    </body>
</html>